<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561534056897-317drerb3g3339domibcvnrtf6i632a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561534056897-317drerb3g3339domibcvnrtf6i632a4</string>
	<key>API_KEY</key>
	<string>AIzaSyCxym9DpomuBuo4lw8wmYZNO_r1Isk-SF8</string>
	<key>GCM_SENDER_ID</key>
	<string>561534056897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>st.cri.GameStream</string>
	<key>PROJECT_ID</key>
	<string>gamestream-b8aa4</string>
	<key>STORAGE_BUCKET</key>
	<string>gamestream-b8aa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561534056897:ios:7da2814ffa1284bb32d740</string>
</dict>
</plist>